<?xml version='1.0' encoding='UTF-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-date-input" version="0.0.1">
    <name>Date Input</name>
    <author>Lee Crossley (http://ilee.co.uk/)</author>
    <description>Cordova plugin to enhance text date inputs with native date selection.</description>
    <keywords>cordova, date, select, picker, input, selector, field, form</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/dateinput.js" name="DateInput">
        <clobbers target="dateinput" />
    </js-module>
    <dependency id="org.apache.cordova.device" url="https://github.com/apache/cordova-plugin-device" />
    <platform name="ios"></platform>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="DateInput">
                <param name="android-package" value="uk.co.ilee.dateinput.DateInput" />
            </feature>
        </config-file>
        <source-file src="src/android/DateInput.java" target-dir="src/uk/co/ilee/dateinput" />
    </platform>
</plugin>
