<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="dateinput" version="0.0.1">
    <name>Date Input</name>
    <author>Lee Crossley (http://ilee.co.uk/)</author>
    <description>Cordova plugin to enhance text date inputs with native date selection.</description>
    <keywords>cordova, date, select, picker, input, selector, field, form</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/dateinput.js" name="DateInput">
        <clobbers target="dateinput" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="DateInput">
                <param name="ios-package" value="DateInput" />
            </feature>
        </config-file>
        <header-file src="src/ios/DateInput.h" />
        <source-file src="src/ios/DateInput.m" />
    </platform>
</plugin>